.timercontainer {
    background-color: white;
    height: 150px;
    margin: 10px;
    padding: 10px;
    border-radius: 10%;
    display: flex;
    justify-items: center;
    align-items: center;
}

.timertext {
    font-size: 96px;
    color: #0D88BC;
}

.outertimerdiv {
    display: inline-block;
    width: 40%;
}

.userjoincontainer {
    display: flex;
    justify-items: center;
    align-items: center;
    
}

.joinleavebutton {
   margin-left: 20px;
   margin-bottom: 10px;
   align-self: flex-end; 
}

.voteimage {
    height: 30px;
    width: 30px;
    margin-top: 6px;
    
}

.readybutton {
    align-self: flex-end;
    margin-bottom: 10px;
}